# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.Python
.mypy_cache/
.pytest_cache/
*.sqlite3

# C/C++
*.o
*.out
*.exe
*.so
*.a
*.dll

# Java
*.class
*.jar
*.war
*.ear

# Rust
/target/

# Go
/bin/
/pkg/

# JetBrains IDEs (PyCharm, IntelliJ, etc.)
.idea/

# VS Code
.vscode/
*.code-workspace

# Mac/Linux backup files
*~
*.swp
*.swo
*.bak

# Git
.git/

# Environment variables
.env.*

# Extra
oz-homepage-copy/
.next/